@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
    string? category = request.Query["category"];
}

@model ListModel<Electronics>


<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Items)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@item.Image" class="card-img-top" alt="@item.Name" style="padding: 10px; max-height: 200px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <div style="display: flex; justify-content: center;">
                        <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" asp-route-returnurl="@returnUrl">
                            Add to card <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>